@page
@using Optimation_Technical_Coding_Test.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

@(await Html.RenderComponentAsync<EventInfo>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>